.title {
    color: rgb(79, 31, 31);
    text-align: center;
  }
  
  .searchBody {
    font-size: large;
    border-color: rgb(79, 31, 31);
    border-width: 3px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .searchButton {
    font-size: large;
    font-weight: bold;
    color: rgb(79, 31, 31);
    border-color: rgb(79, 31, 31);
    border-width: 3px;
    background-color: rgb(216, 87, 87);
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .searchButton:hover {
    background-color: rgb(216, 183, 183);
    cursor: pointer;
    transform: scale(1.1);
  }
  